<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title> Atualizar Ficha Médica </ion-title>
      <ion-button fill="clear" color="danger" slot="end" (click)="dismiss()"
        >Fechar</ion-button
      >
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form [formGroup]="formUpdate" (ngSubmit)="onFormUpdateSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-label color="medium">Peso (kg)</ion-label>
                <ion-input
                  formControlName="peso"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="medium">Altura (cm)</ion-label>
                <ion-input
                  formControlName="altura"
                ></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-button color="secondary" expand="block" type="submit"
          >Atualizar</ion-button
        >
      </ion-grid>
    </form>
  </ion-content>
</div>
