<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title> Atualizar Ficha Médica </ion-title>
      <ion-button fill="clear" color="danger" slot="end" (click)="dismiss()"
        >Fechar</ion-button
      >
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label color="medium">Peso (kg)</ion-label>
              <ion-input [value]="colab.medida.peso"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="medium">Altura (cm)</ion-label>
              <ion-input [value]="colab.medida.altura"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-button color="secondary" expand="block">Atualizar</ion-button>
    </ion-grid>
  </ion-content>
</div>
