<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="fichaMedica">
      <ion-icon name="medical-outline"></ion-icon>
      <ion-label>Ficha Médica</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="monitorar">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Monitorar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historico">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <ion-label>Histórico</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
