<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-img
            src="assets/icon/stethoscope-monochrome.svg"
            style="width: 15%"
          ></ion-img>
        </ion-row>
        <div class="ion-text-center">
          <h6>Seja bem vindo de volta!</h6>
          <h6>Continue a monitorar sua saúde!</h6>
        </div>
      </ion-col>
    </ion-row>

    <form [formGroup]="formLogin" (ngSubmit)="onFormLoginSubmit()">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label color="medium">Email</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="medium">Senha</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-button
        id="submitButton"
        color="secondary"
        expand="block"
        type="submit"
        [disabled]="!formLogin.valid"
        >Login</ion-button
      >
    </form>

    <ion-button color="primary" expand="block" fill="clear" href="/register"
      >ou Cadastre-se</ion-button
    >
    <ion-row class="ion-justify-content-center">
      <ion-img src="assets/images/image-login.png" style="width: 95%"></ion-img>
    </ion-row>
  </ion-grid>
</ion-content>
