<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-img src="assets/icon/stethoscope-monochrome.svg"></ion-img>
        </ion-row>
        <div class="ion-text-center">
          <h6>Seja bem vindo ao App Saúde!</h6>
          <h6>Comece Agora a monitorar sua saúde!</h6>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-list>
        <ion-item>
          <ion-label color="medium">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="medium">Senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="medium">Confirmar Senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="medium"
            >Data de nascimento</ion-label
          >
          <ion-datetime
            displayFormat="DD/MM/YYYY"
            [max]="now.toISOString()"

          ></ion-datetime>
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-button color="secondary" expand="block">Enviar</ion-button>
  </ion-grid>
</ion-content>
