<ion-card color="tertiary">
  <ion-card-content>
    <ion-card-title>Hipertensão: </ion-card-title>
    <ion-card-subtitle>{{ evaluation.hipertensao }}</ion-card-subtitle>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <h2>Pressão Sistólica: {{ evaluation.pSistolica }} mmHg</h2>
      </ion-row>
      <ion-row>
        <h2>Pressão Diastólica: {{ evaluation.pDiastolica }} mmHg</h2>
      </ion-row>
    </ion-grid>
    <div class="ion-text-end">
      <h4>
        {{ evaluation.dataUltima.toLocaleDateString() }},
        {{ evaluation.dataUltima.toLocaleTimeString() }}
      </h4>
    </div>
  </ion-card-content>
</ion-card>
