ion-card-title{
  font-size: x-large;
}

ion-card-subtitle{
  font-size: medium;
  padding-bottom: 8%;
}

h2{
  font-size: medium;
  padding-bottom: 2%;
}

h4{
  font-size: small;
  padding-top: 5%;
}
